[Unit]
Description=Hacker News Web Scraper API Service
After=network.target

[Service]
User=root

WorkingDirectory=/opt/hn_api

ExecStart=/usr/bin/python3 -m uvicorn main:app --host 0.0.0.0 --port 8000

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
